.cart {
  position: absolute;
  top: 0;
  right: 0;
  background-color:black;
  width: 30%;
  color: #fff;
  height: 100%;
  transition: right 0.2s;
  border-radius: 20px;
  

}
.cart-body {
  height: 100%;
  overflow-y: scroll;
}
.cart-heading {
  text-align: center;
  font-size: 32px;
  padding: 32px 0;
  border-bottom: 2px solid #000;
  
  display: flex;
  justify-content: center;
  position: relative;
}
.cart-heading svg {
  margin-right: 15px;
}
.open-btn {
  position: fixed;
  right: 0;
  background-color:black;
  top: 0;
  padding: 20px;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
}
.close-btn {
  position: static;
  border-radius: 20px;
  right: 100%;
  width: 20%;
  margin: right 70px;
  background-color: #272727;
  top: 0;
  /* padding: 20px; */
  cursor: pointer;
}
.icon {
  width: 30px;
  height: 30px;
  color: white;
}
.item-count {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #eabf00;
  color: black;
  position: absolute;
  text-align: center;
  right: -9px;
  font-size: 16px;
  top: 13px;
}

.cart-heading .cart-icon .item-count {
  right: 2px;
}

.close-cart {
  position: relative;
}
.cart-icon {
  position: relative;
}
.cart-item {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.plus-icon {
  font-size: 12px;
  background: black;
  margin-right: 5px;
  display: inline-flex;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cart-price div,
p {
  margin-bottom: 10px;
}

.cart-cross {
  position: absolute;
  top: 5px;
  font-size: 21px;
  right: 27px;
  color: black;
  font-weight: 800;
  cursor: pointer;
}
.cart-cross:hover {
  color: gray;
}

.price {
  color: #eabf00;
}

.cart-item-details {
  color: gray;
}
.cart-item-name {
  color: white;
}
.cart-checkout {
  background: #272727;
  padding: 25px 20px;
}
.cart-checkout div {
  display: flex;
  justify-content: space-between;
}
.cart-checkout button {
  background: black;
  border: none;
  width: 100%;
  color: white;
  padding: 15px 0;
  margin-top: 20px;
  cursor: pointer;
}

.sidebar {
  margin-top: 6rem;
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sidebar {
    margin-top: 4rem;
  }
  .sort {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  .products-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart {
    width: 100%;
  }
  .close-btn {
    display: inline-block;
    position: initial;
    font-size: 24px;
  }
  .wrap {
    display: flex;
    justify-content: center;
  }
  .size {
    width: 48px;
    height: 48px;
  }
  .product-item-img {
    width: 75%;
  }
  .product-item {
    text-align: center;
  }
}